<section class="featured spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>{{ categoryTitle }}</h2>
                </div>
            </div>
        </div>
        <div *ngIf="isLoading" class="text-center">
            <i class="fa fa-spinner fa-spin fa-2x"></i> Chargement...
        </div>
        <div class="row featured__filter" *ngIf="categories.length > 0; ">
            <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let categorie of categories">
                <div class="featured__item">
                    <div class="featured__item__pic set-bg"
                        [style.background-image]="'url(' + (categorie.image || 'img/featured/featured-1.jpg') + ')'">
                        <ul class="featured__item__pic__hover">
                            <li><a [routerLink]="['/categories', categorie._id]"><i class="fa fa-eye"></i></a></li>
                            <!-- <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li> -->
                        </ul>
                    </div>
                    <div class="featured__item__text">
                        <h6><a [routerLink]="['/categories', categorie._id]">{{ categorie.nom }}</a></h6>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="products.length > 0; else noProducts">
            <div class="row featured__filter" *ngIf="products.length > 0; else noProducts">
                <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let product of products">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg"
                            [style.background-image]="'url(' + (product.images || 'img/featured/featured-1.jpg') + ')'">
                            <ul class="featured__item__pic__hover">
                                <li><a [routerLink]="['/details', product._id]"><i class="fa fa-eye"></i></a></li>
                                <!-- <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li> -->
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a [routerLink]="['/details', product._id]">{{ product.nom }}</a></h6>
                            <h5>{{ product.prix | number:'1.2-2' }} Ar</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ng-template  #noProducts>
            <p *ngIf="!isLoading && products.length===0">Aucun produit disponible.</p>
        </ng-template>
        <div *ngIf="isLoading" class="text-center">
            <i class="fa fa-spinner fa-spin fa-2x"></i> Chargement...
        </div>
    </div>
</section>
